In [1]:
import pandas as pd

In [ ]:
dados = {
    "Nome": ["José", "Aline", "Carlos"],
    "Idade": [38, 32, 49],
    "Cidade": ["São Paulo", "São José dos Campos", "Rio de Janeiro"]
}

df = pd.DataFrame(dados)
df

     Nome  Idade               Cidade
0    José     38            São Paulo
1   Aline     32  São José dos Campos
2  Carlos     49       Rio de Janeiro